body{
    background-image: url(../media/pngtree-single-tree-sits-on-the-grassy-hill-picture-image_3171332.jpg);
    padding: 3px;
    margin: 0px;
    border: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
    }
